h1{    
    text-align: center;
    font-size: 30px;
    color:#774caf;
   

}
pre{
   background-color:#774caf;
}
span{
    font-size: 15px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h3{
    color:#774caf;
    text-decoration: double;
    text-align: center;
    font-size: 18px;
    }