<router-outlet></router-outlet>

<div class="foot">
  <pre>

 <h3>CONTACT:</h3>     
                                                                                                    
                                                                                                                  
 <span>Adresse : Rue manzah tunis TUNISIE</span>                                                            <img src="assets\montion.png" style="height: 20px; width: 20px;"><a href="https://www.btknet.com/fr/acces-aux-comptes/mentions-legales.246.html" ><strong>Mention légale</strong></a>                                                                                                                                  
 <span>Adresse Email: btbanquegmail.com</span>                                                               <img src="assets\maps.jpg" style="height: 20px; width: 20px;"><a href="https://www.google.com/maps" ><strong>Plan du site</strong></a>
 <span class="">TEL:00216 7746758820</span>                                                                     <img src="assets\facebook.jpg" style="height: 20px; width: 20px;"><a href="https://www.facebook.com" ><strong>PageFacebook</strong></a>                                               
 <span class="">WhatsApp:(+216)2847765</span>                                                                                                  


   </pre>
 

  

</div>